<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let menu of menuList | async" mat-list-item  [routerLink]="menu.path">{{menu.menuName}}</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--toolBAR-->
    <mat-toolbar color="primary">
      <!--BUTTON-->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MonsterViggiesGUI</span>
    </mat-toolbar>
    <!--BODY-->
    <router-outlet>
     
    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>